@import '../../../../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

table {
  width: 100%;
}

